<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
    <footer>
        <div class="tittle">

            <div class="lining"></div>
            <div>
                <p class="tittle-name">CropConnect</p>
            </div>

        </div>
        <div class="footer-flex">
            <div class="shop">
                <h2>Shop</h2>
                <div><a href="">Shop local farms CSA subscriptions</a></div>
                <div><a href="">Shopper Support</a></div>
            </div>
            <div class="sell">
                <h2>Sell</h2>
                <div><a href="">Start Selling Now</a></div>
                <div><a href="">Farmer Support</a></div>
            </div>
            <div class="company">
                <h2>Company</h2>
                <div><a href="">Our Story</a></div>
                <div><a href="">Media</a></div>
                <div><a href="">Equity</a></div>
            </div>
        </div>
        <div class="rights">
            <div class="copyright">
                <p>© 2024 All Rights Reserved</p>
            </div>
            <div class="social-sites">
                <div><img src="image\icons8-facebook-24.png" alt="facebook-logo"></div>
                <div><img src="image\icons8-instagram-24.png" alt="instagram-logo"></div>
                <div><img src="image\icons8-x-24.png" alt="twitter-logo"></div>
            </div>
        </div>
    </footer>
</body>

</html>