<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="styles/ORInSc.css">
    
</head>

<body>
    <div class="your-orders">
        <h1>Your Invoices</h1>

    </div>
    <hr  class="lining-orders">
    <div class="menu">
        <table>
            <th><a href="/orders.ejs">Orders</a></th>
            <th><a href="/schedule.ejs">Schedule</a></th>
            <th><a href="/invoices.ejs" style="color:green; text-decoration: underline;">Invoices</a></th>
        </table>
    </div>
    <div class="invoices-upper-box">
        <table>
            <th>Pay by this date</th>
            <th>Invoice Number</th>
            <th>Amount</th>
            <th>Status</th>
        </table>
    </div>
    <div class="invoice-lower-box">
        <div class="icon3">
           
        </div>
        <div class="no-invoices-2">No Invoices!</div>
        <div class="no-invoices-3">After you make a purchase, you can find your invoices here</div>
    </div>
</body>

</html>