<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="styles/ORInSc.css">
</head>
<body>
    <div class="your-orders">
      <h1>Your Schedule</h1>
    
    </div>
    <hr  class="lining-orders">
    <div class="menu">
        <table>
            <th><a href="/orders.ejs">Orders</a></th>
            <!-- <th><a href="/schedule.ejs" style="color:green; text-decoration: underline;">Schedule</a></th>
            <th><a href="/invoices.ejs">Invoices</a></th> -->
        </table>

    </div>
    
    <div class="invoice-lower-box">
        <div class="icon2">
           
        </div>
        <div class="no-pickups">No Pickups!</div>
        <div class="no-invoices-3">After you make a purchase, you can find your pickups here</div>
    </div>
</body>
</html>